.booking {
  position: relative;

  @media (min-width: 48em) {
    &_has-bg {
      .booking__container {
        padding: 5rem 10rem;
      }
    }
    .booking {
      &__container {
        padding: 8rem 10rem;

        &::after {
          content: '';

          position: absolute;
          top: -43rem;
          left: -1rem;

          width: 225.5rem;
          height: 165.1rem;

          background: url(@img/bg/1077.svg) center / contain no-repeat;
        }
      }
      &__image-wrap {
        bottom: 0;
      }
    }
  }

  // .booking__container

  &__container {
    position: relative;
    z-index: 2;

    padding: 8rem 10rem;
    margin-bottom: 18rem;

    border-radius: 3.2rem;

    overflow: hidden;

    background-color: $white;

    @media (max-width: 48em) {
      padding: 5rem;
    }
  }

  // .booking__content

  &__content {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    row-gap: 4rem;
  }

  // .booking__title

  &__title {
    max-width: 91.7rem;

    font-size: 5rem;
    line-height: 6rem;
    text-transform: uppercase;

    @media (max-width: 48em) {
      font-size: 4.8rem;
      line-height: 5rem;
    }
  }

  // .booking__form

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 58.4rem;

    @media (max-width: 48em) {
      width: 100%;
    }
  }

  // .booking__fields

  &__fields {
    margin-bottom: 1.2rem;

    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    width: 100%;

    @media (max-width: 48em) {
      margin-bottom: 4rem;

      row-gap: 2.4rem;
    }
  }

  // .booking__input-wrap

  &__input-wrap {
  }

  // .booking__text

  &__text {
    margin-bottom: 4rem;

    max-width: 36.2rem;

    font-weight: 300;
    color: #8c8e93;

    @media (max-width: 48em) {
      margin-bottom: 2rem;

      max-width: 54.2rem;
    }
  }

  &__text-highlight {
    color: $blue;
  }

  // .booking__btn

  &__btn {
  }

  // .booking__image-wrap

  &__image-wrap {
    position: absolute;
    z-index: 2;
    right: 10rem;
    bottom: 0;

    width: 67.1rem;

    @media (max-width: 48em) {
      display: none;
    }
  }

  // .booking__image

  &__image {
  }
}
