// -------------------------------- variables -------------------------------

// colors
$black: #32393c;
$white: #ffffff;
$blue: #02c8ff;
$orange: #ff9a02;
$gray: #8c8e93;

// ---------------------------------- fonts ---------------------------------

// local fonts
@import 'base/fonts';

// ------------------------------- base styles ------------------------------

// base scss file
@import 'base/set';

// --------------------------------------------------------------------------

@import 'base/header';

// sections
